<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


.container.mx-auto
zenek
%h1 Welcome Gastro.Ninja

<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <div class="px-4 py-48">
      <div class="relative w-full text-center">
        <h1
          class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
          Your TailwindCSS setup is working if this pulses...
        </h1>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="p-6 max-w-sm mx-auto bg-black rounded-xl shadow-md flex items-center space-x-4">
  <div class="flex-shrink-0">
    #{image_tag('logo.png', class: 'h-12 w-12')}
  </div>
  <div>
    <div class="text-xl font-medium text-black">ChitChat</div>
    <p class="text-gray-500">You have a new message!</p>
  </div>
</div>

<hr>
<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <div class="px-4 py-48">
      <div class="relative w-full text-center">
        <h1
          class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
          Your TailwindCSS setup is working if this pulses...
        </h1>
      </div>
    </div>
  </div>
</div>
